/* Fonts */
@font-face {
    font-family: 'GloberxBold';
    src: url('../fonts/GloberxBold.woff2') format('woff2'),
        url('../fonts/GloberxBold.ttf') format('truetype'),
        url('../fonts/GloberxBold.svg#GloberxBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
