/* Import other CSS files */
@import url('../css/bootstrap.min.css');
@import url('../css/fonts.css');
@import url('../css/slick.css');
/* Import other LESS files */
/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box !important;
  list-style-type: none;
  line-height: 100%;
}
form input {
  line-height: initial;
}
form input,
form textarea,
form select {
  outline: none !important;
}
form input:active,
form textarea:active,
form select:active,
form input:focus,
form textarea:focus,
form select:focus {
  outline: none !important;
}
a,
a:link,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}
button,
button:active,
button:focus {
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  margin: 0;
}
ul,
ol {
  margin: 0;
  list-style-type: none;
}
label {
  font-weight: normal;
}
/* Google Fonts */
/* Other Fonts */
/* Colors */
/* Gradient Colors*/
.grd-secondary {
  background: linear-gradient(to bottom, #0f7083 0%, #41b4c0 100%);
}
.grd-primary {
  background: linear-gradient(to top, #0f7083 0%, #41b4c0 100%);
}
/* Font Families */
/* Transitions */
/* Import pages LESS files */
/* sliderhome */
#sliderHome {
  background-color: #005164;
  position: relative;
}
#sliderHome .slide {
  display: flex;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#sliderHome .slide .caption {
  position: relative;
  z-index: 1;
}
#sliderHome .slide .caption h2 {
  color: #fff;
  font-size: 45px;
  font-family: 'GloberxBold', sans-serif;
  font-weight: 600;
  max-width: 70%;
  line-height: 65px;
  margin-bottom: 20px;
}
#sliderHome .slide .caption h2 span {
  color: #3ff8ff;
  display: block;
  font-style: italic;
}
#sliderHome .slide .caption p {
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  max-width: 60%;
  margin-bottom: 40px;
}
#sliderHome .slide .caption .search {
  max-width: 590px;
  background: #fff;
  border-radius: 30px;
  height: 55px;
}
#sliderHome .slide .caption .search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 5px;
}
#sliderHome .slide .caption .search form .input {
  width: 40%;
}
#sliderHome .slide .caption .search form .input input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: transparent;
}
#sliderHome .slide .caption .search form .input.location input {
  padding-left: 40px;
}
#sliderHome .slide .img {
  position: absolute;
  z-index: 9;
  right: 10%;
  top: 20%;
}
#sliderHome .slide::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #0f7083 0%, #41b4c0 100%);
  opacity: 0.9;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#sliderHome .line {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
#sliderHome .line img {
  width: 101%;
  margin-left: -5px;
}
/* features */
#features {
  padding: 90px 0;
}
#features .carousel {
  margin: 0 -40%;
}
#features .carousel .item {
  padding: 20px;
  position: relative;
}
#features .carousel .item .caption {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  padding-bottom: 40px;
  justify-content: flex-end;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: all 300ms ease;
}
#features .carousel .item .caption .title {
  font-family: 'GloberxBold', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
}
#features .carousel .item .caption .quanty {
  font-size: 12px;
}
#features .carousel .item img {
  width: 100%;
}
#features .carousel .item.slick-center .caption {
  opacity: 1;
}
#features .carousel .item.slick-center:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 103.33%;
  bottom: 5px;
  margin: 0 -35px;
  z-index: 9;
  background-color: #0eccf2;
}
#features .carousel .item.slick-center > div {
  transform: scale(1.08);
}
#features .carousel .item.slick-center > div::before {
  content: "";
  background: linear-gradient(to bottom, rgba(10, 84, 107, 0) 0%, #0a546b 100%);
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}
#features .categorias {
  background-color: #f5f5f5;
  padding: 40px;
  margin-top: 50px;
}
#features .categorias .title {
  font-family: 'GloberxBold', sans-serif;
  font-size: 19px;
  margin-bottom: 20px;
  color: #000;
}
#features .categorias ul li {
  margin-bottom: 10px;
}
/* aluno */
#aluno,
#professor {
  margin: 5px 0;
  position: relative;
  background-color: #f2f2f2;
}
#aluno .wrapper .slide,
#professor .wrapper .slide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#aluno .wrapper .slide .image,
#professor .wrapper .slide .image {
  border-right: 8px solid #fff;
  width: 45%;
  float: left;
}
#aluno .wrapper .slide .image img,
#professor .wrapper .slide .image img {
  width: 100%;
  height: auto;
}
#aluno .wrapper .slide .image.right,
#professor .wrapper .slide .image.right {
  float: right;
  border-right: 0;
  border-left: 8px solid #fff;
}
#aluno .wrapper .slide .image.right:before,
#professor .wrapper .slide .image.right:before {
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 60%);
}
#aluno .wrapper .slide .caption,
#professor .wrapper .slide .caption {
  z-index: 2;
  position: relative;
  width: 55%;
  padding: 30px 160px 30px 60px;
  float: right;
}
#aluno .wrapper .slide .caption h2,
#professor .wrapper .slide .caption h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: 'GloberxBold', sans-serif;
  font-weight: 300;
  color: #676768;
  position: relative;
}
#aluno .wrapper .slide .caption h2 span,
#professor .wrapper .slide .caption h2 span {
  color: #00b6c4;
}
#aluno .wrapper .slide .caption h2:before,
#professor .wrapper .slide .caption h2:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 145px;
  background: #00b6c4;
  bottom: 0;
}
#aluno .wrapper .slide .caption p,
#professor .wrapper .slide .caption p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
}
#aluno .wrapper .slide .caption .btn,
#professor .wrapper .slide .caption .btn {
  margin-top: 30px;
}
#aluno .wrapper .slide .caption.right,
#professor .wrapper .slide .caption.right {
  padding: 30px 60px 30px 160px;
  float: right;
}
#aluno .wrapper .slide .caption.right h2,
#professor .wrapper .slide .caption.right h2 {
  color: #fff;
}
#aluno .wrapper .slide .caption.right p,
#professor .wrapper .slide .caption.right p {
  color: #fff;
}
#professor {
  background: linear-gradient(to bottom, #09404b 0%, #16656d 100%);
}
/* depoimentos */
#testimonials {
  margin-top: 40px;
  position: relative;
}
#testimonials .flex-wrapper .carousel {
  align-items: center;
  display: flex;
}
#testimonials .flex-wrapper .carousel .item {
  padding: 0;
}
#testimonials .flex-wrapper .carousel .item .wrapper {
  overflow: hidden;
  position: relative;
}
#testimonials .flex-wrapper .carousel .item .wrapper .avatar {
  max-height: 500px;
  width: 50%;
  overflow: hidden;
  margin-right: 15px;
  float: left;
}
#testimonials .flex-wrapper .carousel .item .wrapper .text {
  float: right;
  width: 49%;
  padding: 50px 200px 0 60px;
}
#testimonials .flex-wrapper .carousel .item .wrapper .text p {
  line-height: 20px;
  font-weight: 300;
  color: #066a7e;
  font-size: 16px;
  font-style: italic;
}
#testimonials .flex-wrapper .carousel .item .wrapper .text .author {
  color: #005164;
  font-weight: 600;
  margin-top: 50px;
  font-size: 16px;
  font-style: italic;
}
/* Import elements LESS files */
/* BUTTONS */
.btn {
  border-radius: 30px;
  background: #ccc;
  padding: 0 30px;
  height: 45px;
  line-height: 45px;
  font-family: 'GloberxBold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 500ms ease;
}
.btn-facebook {
  background-color: #37559c;
  color: #fff;
  align-items: center;
  display: flex;
}
.btn-facebook svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #2a4481;
}
.btn-google {
  background-color: #fff;
  color: #222;
  align-items: center;
  display: flex;
  padding: 0 40px;
}
.btn-google img {
  width: 20px;
  margin-right: 10px;
}
.btn-google svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}
.btn-google:hover {
  color: #333;
}
.btn-white {
  background: #fff;
  color: #005164;
}
.btn-white:hover {
  opacity: 0.8;
}
.btn-search {
  background: linear-gradient(to bottom, #0f7083 0%, #41b4c0 100%);
  color: #fff;
  border: 0;
  padding-top: 3px;
}
.btn-search:hover,
.btn-search:focus,
.btn-search:active {
  opacity: 0.8;
  color: #fff;
}
.btn-primary {
  background: #066a7e;
  color: #fff;
  line-height: 49px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  opacity: 0.8;
  color: #fff;
}
.btn-secondary {
  background: #00b6c4;
  color: #fff;
  line-height: 49px;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  opacity: 0.8;
  color: #fff;
}
.btn-green {
  background: #60aa2a;
  color: #fff;
  line-height: 49px;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  opacity: 0.8;
  color: #fff;
}
.btn-large {
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}
/* login */
.modal_login .modal-dialog {
  width: 380px;
}
.modal_login .modal-dialog .modal-content {
  box-shadow: none;
  border: 0;
}
.modal_login .modal-dialog .modal-header {
  border-bottom: 0;
  background-color: #ededed;
  border-radius: 10px 10px 0px 0;
}
.modal_login .modal-dialog .modal-header h4 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-top: 10px;
}
.modal_login .modal-dialog .modal-header .btn {
  margin: 15px auto;
}
.modal_login .modal-dialog .modal-header .btn svg {
  margin-right: 10px;
}
.modal_login .modal-dialog .modal-body {
  background-color: #fff;
  padding: 30px;
}
.modal_login .modal-dialog .modal-body form .input-group {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.modal_login .modal-dialog .modal-body form .input-group input {
  height: 45px;
  box-shadow: none;
  padding-left: 45px;
}
.modal_login .modal-dialog .modal-body form .input-group .input-group-addon {
  background-color: transparent;
  position: absolute;
  z-index: 9;
  width: 45px;
  height: 45px;
  display: flex;
  border: 0;
}
.modal_login .modal-dialog .modal-body form .input-group .input-group-addon img {
  opacity: 0.6;
  width: 18px;
}
.modal_login .modal-dialog .modal-body form .btn {
  width: 100%;
  font-weight: 400;
}
.modal_login .modal-dialog .modal-footer {
  text-align: center;
  line-height: 20px;
}
.modal_login .modal-dialog .modal-footer p {
  font-size: 15px;
  line-height: 19px;
  margin: 10px 0;
  font-family: 'GloberxBold', sans-serif;
}
.modal_login .modal-dialog .modal-footer p a {
  margin-left: 5px;
  color: #066a7e;
}
/* HEADER */
#header {
  position: absolute;
  background-color: #fff;
  padding: 18px 10px;
  width: 100%;
  max-height: 100px;
  z-index: 1;
}
#header .flex-wrapper {
  display: flex;
}
#header .flex-wrapper .logo img {
  width: 160px;
}
#header .flex-wrapper .navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 100px;
}
#header .flex-wrapper .navigation ul li {
  display: inline-block;
  margin: 0 15px;
}
#header .flex-wrapper .navigation ul li a {
  color: #222;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 500ms ease;
}
#header .flex-wrapper .navigation ul li a:hover {
  color: #60aa2a;
}
#header .flex-wrapper .login {
  display: flex;
  align-items: center;
}
#header .flex-wrapper .mobile-navigation {
  display: none;
}
/* FOOTER */
#footer {
  padding: 40px 0;
  background-color: #f4f4f4;
}
#footer nav {
  margin-bottom: 40px;
}
#footer nav ul {
  display: flex;
}
#footer nav ul li {
  margin-right: 40px;
}
#footer nav ul li a {
  transition: all 500ms ease;
  color: #333;
  font-weight: 600;
}
#footer nav ul li a:hover {
  color: #005164;
}
#footer .copyright p {
  color: #999;
}
/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}
* {
  outline: none;
}
